html,
body {
  margin: 0;
  background-color: skyblue;
  font-family: 'Times New Roman', Times, serif;
}

.appBar {
  padding: 15px 25px;
  background-color: rgb(24, 170, 238);
  color: rgb(90, 95, 92);
  text-align: center;
}

.inputContainer {
  margin: 15px auto;
  width: 80%;
}

input[type='text'] {
  text-align: center;
  width: 70%;
  font-size: 1.25em;
}

.btnSubmit {
  font-size: 1.12em;
}

.outputContainer {
  margin: 80px auto auto auto;
}

h2 {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: auto;
  width: 90%;
  height: 500px;
  overflow: hidden;
  overflow-y: scroll;
  /* height: 50px; */
}

ul li {
  height: 1.4em;
}

li:nth-child(odd) {
  background-color: rgb(78, 169, 192);
}

.btnList {
  float: right;
  margin-left: 5px;
  margin-top: 1px;
  font-size: 0.75em;
}

.complete:before {
  content: '\2713';
  display: inline-block;
  color: red;
  padding: 0 6px 0 0;
}

.complete {
  background-color: turquoise !important;
}
